<div id="form-container">
	<form action="<%= posts_url %>" method="POST">
		<input type="hidden" 
			   name="authenticity_token"
			   value="<%= form_authenticity_token %>">
		<div>
			<label for="post[title]">Title</label>
			<input type="text" 
				   name ="post[title]">
		</div>
		<div>
			<label for="post[body]">Body</label>
			<input type="textarea" 
			       name="post[body]">
		</div>
		<div>
			<input type="submit" value="Add new post">
		</div>
	</form>
</div>